<% contact = data.contact %>
<!-- <%= contact.title %> -->
<!-- <%= locals[:header] %> -->
<article class="pb3 ph15 bb b--silver">
  <% if locals[:header] %>
    <header class="mw20 center mt3 tc">
      <h1 class="ma0 mb1 lato fw4 f15 dark-gray"><%= contact.title %></h1>
      <p class="ma0 mb3 lato fw4 f1 gray lh-copy"><%= contact.subtitle %></p>
    </header>
  <% end %>
  <%# Phone Number %>
  <a class="db cf mw20 center mb1 pv1 ba b--silver br0125">
    <table class="w-100">
      <tbody>
        <tr>
          <td class="tc w-20">
            <%= image_tag "#{ contact.phone.icon_path }", :class => "v-mid" %>
          </td>
          <td class="w-80">
            <p class="ma0 lato fw4 f1 dark-gray"><%= contact.phone.number %></p>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
  <%# Email Address %>
  <a class="db cf mw20 center mb1 pv1 ba b--silver br0125">
    <table class="w-100">
      <tbody>
        <tr>
          <td class="tc w-20">
            <%= image_tag "#{ contact.email.icon_path }", :class => "v-mid" %>
          </td>
          <td class="w-80">
            <p class="ma0 lato fw4 f1 dark-gray"><%= contact.email.address %></p>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
  <%# Hours of Operation %>
  <a class="db cf mw20 center mb1 pv1 ba b--silver br0125">
    <table class="w-100">
      <tbody>
        <tr>
          <td class="tc v-top w-20">
            <%= image_tag "#{ contact.office_hours.icon_path }" %>
          </td>
          <td class="w-80">
            <%# Weekdays %>
            <ul class="list ma0 pa0">
              <li><p class="ma0 mb05 lato fw4 f1 light-gray">Entre semana</p></li>
              <li><p class="ma0 lato mb025 fw4 f1 dark-gray">8:00am — 1:00pm</p></li>
              <li><p class="ma0 lato mb1 fw4 f1 dark-gray">2:30pm — 6:00pm</p></li>
            </ul>
            <%# Saturdays %>
            <ul class="list ma0 pa0">
              <li><p class="ma0 mb05 lato fw4 f1 light-gray">Sábados</p></li>
              <li><p class="ma0 lato fw4 f1 dark-gray">8:00am — 2:00pm</p></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
  <%# Address %>
  <a class="db cf mw20 center mb1 pv1 ba b--silver br0125">
    <table class="w-100">
      <tbody>
        <tr>
          <td class="tc v-top w-20">
            <%= image_tag "#{ contact.address.icon_path }" %>
          </td>
          <td class="w-80">
            <ul class="list ma0 pa0">
              <li><p class="ma0 lato mb025 fw4 f1 dark-gray"><%= contact.address.street %></p></li>
              <li><p class="ma0 lato mb025 fw4 f1 dark-gray"><%= contact.address.sector %></p></li>
              <li><p class="ma0 lato mb025 fw4 f1 dark-gray"><%= contact.address.city %>, <%= contact.address.state %> <%= contact.address.zip_code %></p></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
</article>
